.container
  .row
    .large-space

    .col.s6.offset-s3.resposive-size

      .card-panel.with-title-band
        .card-title-band.center 500 Internal Server Error

        #discription
          問題が発生しました。

  .large-space
