.container
  .row
    .large-space

    .col.s6.offset-s3.resposive-size

      .card-panel.with-title-band
        .card-title-band.center 404 Not Found

        #discription
          このページは見つかりませんでした。

  .large-space
