
.no_padding {
  padding-left: initial;
  padding-right: initial;
}

.margine_top {
  margin-top: 20px;
}

.margine_bottom {
  margin-bottom: 20px;
}

#error-message {
  h2 {
    font-size: 20px;
    margin: 0px;
  }

  padding-bottom: 1px;
}

.space {
  padding: 4px;
}