.mt-2
弊社で過去に取得できることを確認したサイトです。ご参考にしてください。（現在でも取得できることを保証するものではございません。）
%br
こちらに掲載したサイト以外にも取得できるサイトは数多くございますので、まずはお試しくださいませ。
%br
また、逆に取得できないサイトも数多くございますので、ご了承ください。

%h5 企業法人の一覧サイトの例
%table
  %tr
    %td
      %ul
        %li.mt-1
          =link_to 'iタウンページ', 'https://itp.ne.jp/', target: :_blank
        %li.mt-1
          =link_to '八王子ものづくり製造業WEB検索サイト', 'https://hachioji.or.jp/kogyo/index.shtml', target: :_blank
        %li.mt-1
          =link_to 'ECのミカタ 企業一覧', 'https://ecnomikata.com/support_company/', target: :_blank
        %li.mt-1
          =link_to '大阪ものづくり優良企業賞（五十音順 企業リスト）', 'https://www.m-osaka.com/jp/takumi/50s.html', target: :_blank
        %li.mt-1
          =link_to '長崎市企業紹介サイト', 'https://nagasaki-workstyle.com/company/', target: :_blank
        %li.mt-1
          =link_to 'ジェトロ農林水産物・食品 輸出協力企業リスト', 'https://www.jetro.go.jp/industry/foods/trading_company_list.html', target: :_blank
    %td
      %ul
        %li.mt-1
          =link_to 'ビッグカンパニー', 'https://www.bigcompany.jp/', target: :_blank
        %li.mt-1
          =link_to '公益法人横浜企業経営支援財団 認定企業一覧', 'https://www.idec.or.jp/business/csr/chiikikouken-04list.html', target: :_blank
        %li.mt-1
          =link_to '広島県働き方改革実践企業一覧', 'https://www.pref.hiroshima.lg.jp/hint/search-h.php', target: :_blank
        %li.mt-1
          =link_to 'パートナーシップ構築宣言 登録企業一覧', 'https://www.biz-partnership.jp/list.php', target: :_blank
        %li.mt-1
          =link_to '日本百貨店協会 百貨店企業リスト', 'https://www.depart.or.jp/member/', target: :_blank
    %td
      %ul
        %li.mt-1
          =link_to '神奈川県ホームページ 療養証明書に対応している保険会社一覧', 'https://www.pref.kanagawa.jp/docs/ga4/covid19/ms/mt_clist.html', target: :_blank
        %li.mt-1
          =link_to 'ADOX製造業ポータル', 'https://adox.jp/company_list/industry/list', target: :_blank
        %li.mt-1
          =link_to '生命保険協会 会員会社一覧', 'https://www.seiho.or.jp/member/list/', target: :_blank
        %li.mt-1
          =link_to 'おもてなしサイト 上場企業の一覧', 'https://omotenashi.site/company/', target: :_blank
        %li.mt-1
          =link_to '官報決算データサービス', 'https://kanpo.tremolo.work/', target: :_blank
        %li.mt-1
          =link_to '日本政策金融公庫 スタートアップ・カンパニー・ブック', 'https://www.jfc.go.jp/n/finance/sougyou/startup_company03.html', target: :_blank

%h5 求人サイトの例
%table
  %tr
    %td
      %ul
        %li.mt-1
          =link_to 'リクナビ2024', 'https://job.rikunabi.com/2024/', target: :_blank
        / %li.mt-1.icon-with-text
        /   =link_to 'リクナビNEXT', 'https://next.rikunabi.com/', target: :_blank
        /   %a{target: :_blank, href: 'rikunabi_next.pdf', class: 'tooltip1'}
        /     %i.material-icons.ml-2.cursor-pointer.smaller warning
        /     %div.pl-5{class: "tooltip1-description"} 注意事項
        %li.mt-1
          =link_to 'マイナビ転職', 'https://tenshoku.mynavi.jp/', target: :_blank
        %li.mt-1.icon-with-text
          =link_to 'イーキャリア', 'https://www.ecareer.ne.jp/', target: :_blank
          %a{target: :_blank, href: 'ecareer.pdf', class: 'tooltip1'}
            %i.material-icons.ml-2.cursor-pointer.smaller warning
            %div.pl-5{class: "tooltip1-description"} 注意事項
    %td
      %ul
        %li.mt-1
          =link_to 'エン転職', 'https://employment.en-japan.com/', target: :_blank
        %li.mt-1
          =link_to 'Workship 求人サイト', 'https://goworkship.com/', target: :_blank
        %li.mt-1
          =link_to 'Reworker 求人検索', 'https://www.reworker.jp/recruitments/new', target: :_blank
    %td
      %ul
        %li.mt-1
          =link_to 'Ｒｅ就活', 'https://re-katsu.jp/career/', target: :_blank
        %li.mt-1
          =link_to '求人ボックス', 'https://xn--pckua2a7gp15o89zb.com/', target: :_blank
        %li.mt-1
          =link_to '求人アルゾWEB', 'https://www.alzoweb.jp/', target: :_blank


%h5 グループ企業一覧サイトの例
取得のコツとして、多くのグループ企業一覧ページは１ページ内にまとまっているため、
%br
オプションのページ遷移(移動)のルールの「このページのみから収集する」を選択してください。（例外もあります。）
%table
  %tr
    %td
      %ul
        %li.mt-1
          =link_to 'オリンパス グループ企業一覧', 'https://www.olympus.co.jp/company/base/domestic.html?page=company', target: :_blank
        %li.mt-1
          =link_to 'キリンホールディングス グループ会社一覧', 'https://www.kirinholdings.com/jp/profile/organization/', target: :_blank
        %li.mt-1
          =link_to '日立グループ グループ会社一覧', 'https://www.hitachi.co.jp/about/corporate/group/index.html', target: :_blank
        %li.mt-1
          =link_to '電通 グループ会社一覧', 'https://www.dentsu.co.jp/aboutus/summary/sub_company/', target: :_blank
        %li.mt-1
          =link_to 'ANAグループ グループ会社一覧', 'https://www.ana.co.jp/group/company/', target: :_blank
    %td
      %ul
        %li.mt-1
          =link_to 'トヨタグループ グループ会社一覧', 'https://global.toyota/jp/company/profile/toyota-group/', target: :_blank
        %li.mt-1
          =link_to 'リクルート グループ企業一覧', 'https://www.recruit.co.jp/company/group/', target: :_blank
        %li.mt-1
          =link_to 'ソフトバンクグループ グループ企業一覧', 'https://group.softbank/segments/group', target: :_blank
        %li.mt-1
          =link_to '日本郵船 主要グループ会社一覧', 'https://www.nyk.com/profile/group/', target: :_blank
        %li.mt-1
          =link_to '西武グループ 企業一覧（国内）', 'https://www.seibuholdings.co.jp/group/grouplist/', target: :_blank
    %td
      %ul
        %li.mt-1
          =link_to '三井住友建設 グループ企業一覧', 'https://www.smcon.co.jp/company/group/', target: :_blank
        %li.mt-1
          =link_to 'RIZAPグループ グループ企業一覧', 'https://www.rizapgroup.com/about/group', target: :_blank
        %li.mt-1
          =link_to 'パソナグループ グループ会社一覧', 'https://www.pasonagroup.co.jp/company/groups.html', target: :_blank
        %li.mt-1
          =link_to 'ノジマ グループ企業一覧', 'https://www.nojima.co.jp/corporation/group/', target: :_blank
        %li.mt-1
          =link_to 'セガグループ グループ企業一覧', 'https://www.sega.co.jp/group/list/index.html', target: :_blank

%h5 企業法人以外の一覧サイトの例
本サービスは企業法人リスト取得がメインですが、それ以外のリストも取得できる可能性があります。お試しくださいませ。
%br
ただし、取得率と精度は企業法人リストよりも落ちますので、ご了承ください。
%table
  %tr
    %td
      %ul
        %li.mt-1
          =link_to '食べログ', 'https://tabelog.com/', target: :_blank
        %li.mt-1
          =link_to 'ぐるなび', 'https://www.gnavi.co.jp/', target: :_blank
    %td
      %ul
        %li.mt-1
          =link_to 'hinataスポット', 'https://hinata-spot.me/', target: :_blank
        %li.mt-1
          =link_to 'ジョブメドレー', 'https://job-medley.com/ans/', target: :_blank
    %td
      %ul
        %li.mt-1
          =link_to '埼玉弁護士会 弁護士検索', 'https://www.saiben.or.jp/search4.php?category=0&s2=&s3=&free=&s=1', target: :_blank
